body {
    background: rgb(167, 104, 159);
}
section {
    width: 90%;
    max-width: 1600px;
    height: 500px;
    border: 1px solid #fff;
    margin: 50px auto;
}
#fila{
    width: 100%;
    display: flex;
}
#foto {
    width: 40%;    
}
#info {
    width: 60%;
}
#info h2 {
    color: rosybrown;
    font-size: 32px;
    font-weight: 700;
    font-family: "dancing script";
    margin-bottom: 0;
} 

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
